<div id="form-entry">
  <%= form_for(@entry) do |f| %>
    <div class="form-group">
      <%= f.text_field :title, class: "form-control", placeholder: "Title...", required: true %>
    </div>

    <div class="form-group">
      <%= f.text_area :content, class: "form-control", placeholder: "Content....", required: true %>
    </div>
      <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>