// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
#title {
  font-weight: bold;
}

#comment_form {
  padding-bottom: 20px;
  textarea {
    height: 100px;
  }
}